name: GitHub Metrics

on:
  schedule: [{cron: "0 0 * * *"}] # Runs once per day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}

          base: header, activity, community, repositories

          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_habits: yes
          plugin_isometric: yes

          config_timezone: Asia/Kolkata
